body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.srodek {
    flex: 1;
}

nav {
    text-align: center;
    padding: 20px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
}

.navbar li {
    float: left;
}

.navbar li select {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: darkblue;
}

.navbar li select:hover {
    background-color: #111;
}

footer {
    text-align: center;
    padding: 20px;
}

div.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
    background-color: darkblue;
    padding: 0 10px;
}

.login p {
    color: white;
    text-align: center;
    margin-left: 10px;
}

.login a {
    text-decoration: none;
    color: white;
    text-align: center;
    margin-right: 10px
}

.login button {
    background-color: darkblue;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.login button:hover {
    border: 1px solid white;
    background-color: #0056b3;
}