<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="Szlachta.css">
    <meta charset="UTF-8">
    <title>Proxmus</title>
</head>
<body>

<div class="srodek">

    <h2>Lista użytkowników</h2>
    <table>
        <tr>
            <th>Login</th>
            <th>CzyPosiadaAdmina</th>
            <th>Zmień</th>
            <th>Usuń</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}" style="text-align: center"></td>
            <td th:text="${user.admin ? 'TAK' : 'NIE'}" style="text-align: center"></td>
            <td>
                <form th:action="@{/toggleAdmin/{username}(username=${user.username})}" method="post">
                    <button type="submit">Zmień</button>
                </form>
            </td>
            <td>
                <form th:action="@{/removeUser/{username}(username=${user.username})}" method="post">
                    <button type="submit">Usuń</button>
                </form>
            </td>
        </tr>
    </table>

</div>

<footer>
    <div class="login">
        <p>Zalogowano jako: Admin</p>
        <div class="buttons">
            <button id="logiButton">Logi</button>
            <button id="logoutButton">Wyloguj się</button>
        </div>
    </div>
</footer>

<script type="text/javascript" src="Szlachta.js"></script>

</body>
</html>